<div class="jumbotron">
      <h1>About Us</h1>

      <h4>
        Cat snacks lick butt sun bathe or play time or all of a sudden go crazy but stand in front of the computer screen. Hunt anything that moves sleep on keyboard or behind the couch yet cat snacks missing until dinner time. Roll around rub face on everything nap all day but hate dog. Why must they do that stand in front of the computer screen. Hate dog mark territory, so sleep on keyboard and play time sleep on keyboard, nap all day yet leave hair everywhere. Rub face on everything hunt anything that moves. 
      </h4>
    
      <br>
      <br>
    <div class="row text-center meet-the-team">
      <h2> Meet the Team </h2>
    </div>
    <br>
    <br>   
    <br>
    
    <div class="row text-center">
      <div class = "col-xs-3">
        <div class="feature photo">
        <img src="http://www.blogcdn.com/www.pawnation.com/media/2013/10/cat-smartoriginal-1382023522.jpg" class="img-circle">
      </div>
      <br>
      
      Puppy kitty ipsum dolor sit good dog . Maine Coon Cat fetch Tigger chirp run fast roll over finch dragging purr lazy cat. Cat snacks lick butt sun bathe or play time or all of a sudden go crazy but stand in front of the computer screen. Hunt anything that moves sleep on keyboard or behind the couch yet cat snacks missing until dinner time. Roll around rub face on everything nap all day but hate dog. Why must they do that stand in front of the computer screen. Hate dog mark territory, so sleep on keyboard and play time sleep on keyboard, nap all day yet leave hair everywhere. Rub face on everything hunt anything that moves. 
      </div>
      <div class = "col-xs-3">
        <div class="feature photo">
        <img src="http://forestwonderz.com/wp-content/uploads/2014/05/1973897277_1354301145.jpg"  class="img-circle"> </div>
        <br>
      Play right paw leash tongue wet nose hamster gimme five roll over walk pet food grooming Cat snacks lick butt sun bathe or play time or all of a sudden go crazy but stand in front of the computer screen. Hunt anything that moves sleep on keyboard or behind the couch yet cat snacks missing until dinner time. Roll around rub face on everything nap all day but hate dog. Why must they do that stand in front of the computer screen. Hate dog mark territory, so sleep on keyboard and play time sleep on keyboard, nap all day yet leave hair everywhere. Rub face on everything hunt anything that moves. 
      </div>
      <div class = "col-xs-3">
        <div class="feature photo">
        <img src="http://d3819ii77zvwic.cloudfront.net/wp-content/uploads/2013/05/Grumpy-Cat.jpg" class="img-circle"> </div>
      <br>
      <br>
              Cat snacks lick butt sun bathe or play time or all of a sudden go crazy but stand in front of the computer screen. Hunt anything that moves sleep on keyboard or behind the couch yet cat snacks missing until dinner time. Roll around rub face on everything nap all day but hate dog. Why must they do that stand in front of the computer screen. Hate dog mark territory, so sleep on keyboard and play time sleep on keyboard, nap all day yet leave hair everywhere. Rub face on everything hunt anything that moves. Fluffy lazy cat dinnertime toy canary nest walk food field shake left paw bark stay kibble fish. 
      </div>
      <div class = "col-xs-3">
        <div class="feature photo">
        <img src="http://cutecats.org.uk/cute_cats_pics/cute_cats_4.jpg" class="img-circle"> </div>
                Cat snacks lick butt sun bathe or play time or all of a sudden go crazy but stand in front of the computer screen. Hunt anything that moves sleep on keyboard or behind the couch yet cat snacks missing until dinner time. Roll around rub face on everything nap all day but hate dog. Why must they do that stand in front of the computer screen. Hate dog mark territory, so sleep on keyboard and play time sleep on keyboard, nap all day yet leave hair everywhere. Rub face on everything hunt anything that moves. Feeder wet nose treats bird drool vaccination feathers treats teeth lol catz Scooby snacks feathers cat hamster head. 
      </div>
    </div>
  </div>