<div class="jumbotron">
  <h1 class="">Contact Us</h1>
 <p>Please fill out this form to get notified whenever new kangaroo photos are uploaded.</p>

<div class="row">
  <div class="col-xs-5" id="contact-column1">
   <table class="table table-striped">
     <tr>
       <td>First Name</td>
       <td>Last Name</td>
       <td>Username</td>
     </tr>
     <tr>
       <td>Person 2name</td>
       <td>person2 last name</td>
       <td>person 2 username</td>
     </tr>
     <tr>
       <td>Person 3name</td>
       <td>person3 last name</td>
       <td>person 3 username</td>
     </tr>
     <tr>
       <td>Person 1name</td>
       <td>person1 last name</td>
       <td>person 1 username</td>
     </tr>
     <tr>
       <td>Person 1name</td>
       <td>person1 last name</td>
       <td>person 1 username</td>
     </tr>
   </table>
  </div>
  
  <div class="col-xs-5" id="contact-column2">
    <form>
      <div class="form-group" id="full-name-input">
        <label class="control-label" for="inputSuccess1">Full Name</label>
        <input type="text" class="form-control" id="nameinput">
      </div>
      <div class="form-group " id="email-input">
        <label class="control-label" for="inputWarning1">Email</label>
        <input type="text" class="form-control" id="emailinput">
      </div>
      <div class="form-group " id="message-input">
        <label class="control-label" for="inputError1">Message</label>
        <input type="text" class="form-control" id="messageinput">
      </div>
      
      <button type="submit" id="contactSubmitButton" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
</div>