

<h2 class="index">Choose From All Our Different Pets!</h2>
<a href="#/pets/new" id="upload-pet-link">Upload your pet!</a>

<!-- Google Maps-->
<div id="myMap">
  <div id="map-canvas"></div>
</div>

<div id="pets">

</div>
