<div id="index-image"><img src="<%=pet.escape('image_url')%>"></div>
<div class="ribbon-wrapper-green"><div class="ribbon-green">Available</div></div>
  <p id="name"><%=pet.escape('name')%></p>
  <p id="pet-info"><%=pet.escape('gender')%>, <%=pet.escape('age')%> years old</p>
</div>
