

<h2 class="index">Choose From All Our Different Pets!</h2>
<a href="#/pets/new" id="upload-pet-link">Upload your pet!</a>

<div id="panel">
  Type in your city to find pets in your area!
  <input id="address" type="textbox" value="San Francisco, CA">
  <input type="button" value="Find Pets" id="codeAddress">
</div>
    
<!-- Google Maps-->
<div class="map">
</div>
<div id="myMap">
  <div id="map-canvas"></div>
</div>

<div id="pets">

</div>
