<!-- Google Maps-->

<div id="pet-search">
  <div class="row"> 

    <div class='row filter filter-calendar'>
    	<form class='form-inline'>
    		<div class="form-group">
          <span style="display:inline-block;" class= "filter-title">Dates</span>
          <span style="display:inline-block; width: 20px" class="filter-title"></span>
    			<div class="input-daterange input-group calendar-left filter" id="index-datepicker">
    				<input type="text" class="input-sm form-control" id="start-date" placeholder="Start Date">
    				<span class="input-group-addon">to</span>
    				<input type="text" class="input-sm form-control" id="end-date" placeholder="end Date">
    			</div>
          
          <span style="display:inline-block; width: 80px;"></span>
          
          <div id="filter-location" class= "filter">
            <span style="display:inline-block; width: 10px;" class= "filter-title">City</span>
            <span style="display:inline-block; width: 30px;" class= "filter-title"></span>
            <input id="address" type="textbox" value="San Francisco, CA" class="form-control">
          </div>

<!--    <hr>
    <div class="row filter gender">
      <span style="display:inline-block; width: 10px;"></span>
      <span style="display:inline-block; width: 70px;" class= "filter-title">&nbsp &nbsp Gender</span>
      <span style="display:inline-block; width: 10px;"></span>
      <input type="checkbox" class="checkbox-inline" value="Male">Male
      <input type="checkbox" class="checkbox-inline" value="Female">Female
    </div>
    <span style="display:inline-block; width: 100px;" class= "filter-title"></span>

    <div class="row filter animal">
      <span style="display:inline-block; width: 70px;" class= "filter-title">&nbsp &nbsp Animal</span>
      <input type="checkbox" class="checkbox-inline" value="Black">Cat
      <input type="checkbox" class="checkbox-inline" value="Gray">Dog
      <input type="checkbox" class="checkbox-inline" value="White">Other
    </div>
    <span style="display:inline-block; width: 80px;" class= "filter-title"></span>
     -->
    <hr>
    <div class="row filter color">
    	<span style="display:inline-block; width: 70px;" class= "filter-title">&nbsp &nbsp Color</span>
    	<input type="checkbox" class="checkbox-inline" value="Black">Black
    	<input type="checkbox" class="checkbox-inline" value="Gray">Gray
    	<input type="checkbox" class="checkbox-inline" value="White">White
      <input type="checkbox" class="checkbox-inline" value="Brown"> Brown
    	<input type="checkbox" class="checkbox-inline" value="Yellow">Yelow
    	<input type="checkbox" class="checkbox-inline" value="Red">Other
    </div>
    <span style="display:inline-block; width: 50px;" class= "filter-title"></span>
    <button id="codeAddress" class="btn btn-warning">Find Pets</button>
    		</div>
    	</form>
    </div>
    


    </div>
</div>



<div id="pets">
</div>

<div class="map">
  <div class="search-bar">
  </div>
</div>



