
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
   <table class="table table-striped rental-list-items">
     <h3>Pet Rental Requests</h3>
     <tr class="rental-request-item">
       <td><strong>Requester's Name</strong></td>
       <td><strong>Start Date</strong></td>
       <td><strong>End Date</strong></td>
       <td><strong>Status</strong></td>
     </tr>
   </table>
  </div>
</div>
  
  