<div class="row">
  <div class="col-xs-5">
   <table class="table table-striped rental-request-list">
     <tr class="rental-request-item">
       <td><strong>Requester's Name</strong></td>
       <td><strong>Start Date</strong></td>
       <td><strong>End Date</strong></td>
       <td><strong>Status</strong></td>
     </tr>
   </table>
  </div>
</div>
  
  