<div id="rental-request">
  
<h1>Want to rent me? Fill out this form to request a rental!</h1>


<form id="new-rental-request" role="form">       
  <label for='start-date'>Start Date: </label>
    <input name="pet_rental_request[start_date]" type="date" id="start-date">
      <span class="add-on">
        <i class= "glyphicon glyphicon-calendar"></i>
      </span>
    </input>

  <label for='end-date'>End Date: </label>
    <input name="pet_rental_request[end_date]" type="date" id="end-date">
      <span class="add-on">
        <i class= "glyphicon glyphicon-calendar"></i>
      </span>
    </input>
    
       <!-- script to run the calendar code-->
           <script type="text/javascript">  

            // $(function () {
//
//                 $('.datepicker').datepicker({
//                     minDate: new Date(),
//                     format: "yy/mm/dd"
//                 });
//             });
        </script>

    <button type="submit" class="btn btn-success" role="button" id="submit-rental-request-button">Submit Request</button>
</form>
</div>