<!-- <div id="panel">
  Type in your city to find pets in your area!
  <input id="address" type="textbox" value="San Francisco, CA">
  <input type="button" value="Find Pets" id="codeAddress">
</div>
 -->

<div id="myMap">
  <div id="map-canvas"></div>
</div>