<div class="footer">
  <div class="footer-content">
    <div class="col-xs-3 col-xs-offset-3">      
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Terms and Conditions</a></p>
        <p><a href=""> @ Copyright Policy</a></p> 
    </div>
    <div class="col-xs-2">      
        <p><a href="">Home</a></p>
        <p><a href="">About</a></p>
        <p><a href="">Contact</a></p>
    </div>
    <div class="col-xs-2">      
        <p><a href="">Press</a></p>
        <p><a href="">Blog</a></p>
        <p><a href="">Invite a Friend</a></p> 
    </div>
    
    <div class="social-media col-xs-3">      
        <p>Follow Us!</p>
          <span><i class= "fa fa-twitter-square"></i></span>
          <span><i class= "fa fa-facebook-square"></i></span>
          <i class= "fa fa-google-plus-square"></i>
          <i class= "fa fa-google-plus-square"></i>
          <i class= "fa fa-github-square"></i>
          <i class= "fa fa-pinterest-square"></i>
          <i class= "fa fa-linkedin-square"></i>
          <i class= "fa fa-tumblr-square"></i>
          <!-- <li><button class="btn btn-twitter"><i class="fa fa-twitter"></i></button></li>
          <li><button class="btn btn-twitter"><i class="fa fa-twitter"></i></button></li> -->
        </ul>
    </div>
    <!-- <div class="col-xs-3">
       <p text-align="center">Want to hire me? </a></p>
       <p><a href="https://www.linkedin.com/in/kristenfaulkner">LinkedIn Profile</a></p>
       <p><a href="https://github.com/kristenfaulkner">Github Portfolio</a></p>
        <p><a href="">Copyright (c) 2008 RentMyPet</a></p>


    </div>
    <div class="col-xs-4">
        <p>Kristen Faulkner</p>
        <p>Harvard College 2016, Computer Science</p>
        <p>faulkner@college.harvard.edu</p>
    </div> -->
  </div>
</div>